.li {
  list-style-type: none;
}

.file-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  min-width: 250px;
  width: 100%;
  border-radius: 5px;
  height: min-content;
  background-color: var(--color-white);
  padding: 9px 0 9px 9px;

  &__button {
    position: absolute;
    top: -1px;
    right: -4px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background: none;

    &_hide {
      display: none;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}


.status {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: flex-start;
  margin-top: 2px;

  &__span {
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
  }

  &_hide {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .file-item {
    background-color: var(--color-lgrey);
  }
}