li {
  list-style-type: none;
}

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-lgrey);
  min-height: 629px;
  width: 100%;
  padding: 30px 20px;



  &__plug {
    height: 100%;
  }

  &__info-img {
    margin: 0;
    width: 130px;
    height: 132px;
    align-self: center;
  }

  &__info-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 20.3px;
    width: 271px;
    text-align: center;
    align-self: center;
    margin: 10px auto 0 auto;
  }

  &__message-container {
    width: 100%;
    height: 314px;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    overflow-y: scroll;
    gap: 10px;
    padding: 19px 20px;
    justify-content: flex-end;
    scrollbar-color: var(--color-pink) var(--color-lgrey);

    &:hover {
      justify-content: flex-start;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    margin-top: auto;
    margin-right: 16px;
  }

  &__form {
    align-self: flex-end;
    width: 100%;
    margin-top: 20px;
    height: 144px;
    border-radius: 25px;
    border: 2px solid var(--color-pink);
    background-color: var(--color-white);

    &-input {
      border: none;
      border-radius: 25px;
      display: block;
      width: 100%;
      padding: 25px 20px;
      resize: none;
      line-height: 19.3px;
      height: 88px;

      &:focus {
        border-color: initial;
        outline: none;
      }
    }

    &-button {
      border: none;
      background: none;

      &_right {
        position: absolute;
        bottom: 36px;
        right: 32px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-buttons-container {
      display: flex;
      flex-direction: row;
      gap: 12px;
      position: absolute;
      bottom: 46px;
      left: 31px;
    }
  }

  &__button {
    border: none;
    background: none;
    border-radius: 30px;
    padding: 12px 22px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.9px;

    &_blue {
      background-color: var(--button-blue);
    }

    &_pink {
      background-color: var(--button-pink);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 760px) {
  .chat {
    background-color: var(--color-lgrey);
    border-radius: 20px;
    padding: 0;
    min-height: 596px;

    &__info-img {
      margin: 40px auto 0;
    }

    &__button-container {
      flex-direction: row;
      padding-left: 27px;
      margin-top: 0;
      gap: 10px;
      left: 26px;
    }


    &__form {
      margin-top: auto;
      border-radius: 20px;
      margin-top: 21px;

      &-button_right {
        bottom: 22px;
        right: 19px;
      }

      &-buttons-container {
        gap: 20px;
        bottom: 13px;
        left: 26px;
      }
    }

    &__message-container {
      height: 390px;
    }

    &__button {
      font-size: 15.6px;

      &_blue {
        order: 2;
      }

      &_pink {
        order: 1;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .chat {
    min-height: 596px;

    &__button-container {
      margin-top: 0;
    }

    &__form {
      &-buttons-container {
        gap: 19px;
        bottom: 15px;
        left: 29px;
      }

      &-button {
        &_right {
          bottom: 24px;
          right: 24px;
        }
      }
    }
  }
}