.chat-message {
  width: max-content;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  animation: show-up .5s ease-in-out;


  &_my-message {
    align-self: end;
    text-align: end;
    justify-content: end;
  }

  &__avatar {
    width: 36px;
    height: 36px;
    object-fit: contain;
    border-radius: 50%;
  }

  &__text {
    width: 80%;
    background-color: var(--color-white);
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    padding: 14px;
    font-weight: 600;
    text-align: start;
    text-wrap: wrap;

    &_my {
      width: 100%;
    }
  }

  &__author-time {
    margin-left: 42px;
    display: flex;
    column-gap: 10px;

    &_my {
      margin-left: 0;
      text-align: end;
    }
  }

  &__author {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    height: 32px;
  }
}


@media screen and (min-width: 760px) {
  .chat-message {
    &__avatar {
      width: 49px;
      height: 49px;
    }

    &__text {

      line-height: 23px;

    }
  }
}

@keyframes show-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}